@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,300&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

.quadrate {
  margin: 0 auto;
  width: 80%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: 0 auto;
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 10px solid lightgray;
  height: 50vh;
  width: 80%;
}

.box {
  flex-basis: 250px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.box h2 {
  font-size: 1rem;
  font-weight: 300;
  background-color: #fff;
  padding: 1rem;
}
.box3 {
  flex-grow: 5;
}

.box4 {
  flex-basis: 100px;
}

.button-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.result-box {
  width: 80%;
}
button {
  width: 40%;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

button:hover {
  background-color: #000;
}
